name: Send Previous Week Free Meal Report

on:
  push:
    branches:
      - main
  schedule:
    # Every Monday at 12:00 PM (UTC)
    - cron: '0 12 * * 1'
  workflow_dispatch: # allows manual run

jobs:
  send-report:
    runs-on: windows-latest

    steps:
    - name: Install dependencies
      run: npm ci

    - name: Start API server
      run: |
        npm run start &  # Runs your server in the background
        sleep 10         # Waits for the server to fully start

    - name: Send previous week report
      run: |
        curl.exe -X POST ${{ secrets.REPORT_API_URL }} -H "Authorization: Bearer ${{ secrets.CRON_SECRET }}"
      env:
          CRON_KEY: ${{ secrets.CRON_SECRET }}
