name: Send Previous Week Free Meal Report

on:
  schedule:
    # Every Monday at 12:00 PM (UTC)
    - cron: '0 12 * * 1'
  workflow_dispatch: # allows manual run

jobs:
  send-report:
    runs-on: windows-latest

    steps:
      - name: Call report API
        shell: pwsh
        run: |
            $url = "http://localhost:3000/api/reports/send-previous-week"
            $token = "083ef01b86cfeebc927307bc7ef59879828408a1cbbb33b50f6c4c3028a656f8"

            curl.exe -k -X POST $url `
            -H "Authorization: Bearer $token" `
            -H "Content-Type: application/json"